@{
    ViewBag.Title = "服务信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section queryform
{
    <form id="appServForm">
        <label for="SerName">
            服务名称:
        </label>
        <input class="easyui-textbox" type="text" id="SerName" name="SerName" style="width: 115px" />
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="query">查询</a>
    </form>
}

<div style="padding-left:2px;padding-right:2px;height:100%;">
    <table id="Servgrid"></table>
</div>
<div id="Servdialog"></div>
<script type="text/javascript">
    /* 系统用户管理Javascript文件 */
    $(document).ready(function () {
        //加载Grid
        InitToolbar();
        $("#query").click(function () {
            ReloadGrid();
        })
    });
    // 查询
    function ReloadGrid() {
        var queryData = {
            ServName: $.trim($("#SerName").textbox("getValue"))
        };
        $("#Servgrid").datagrid("load", queryData);
    }
    //根据权限设置装载grid
    function InitToolbar() {
        var toolbar = [];
        var actionBar1 = {
            id: "RT06010201",
            text: "新增"
        };
        var actionBar2 = {
            id: "RT06010202",
            text: "编辑"
        };
        var actionBar3 = {
            id: "RT06010203",
            text: "删除"
        };
        var actionBar4 = {
            id: "RT06010204",
            text: "刷新"
        };
        actionBar1.iconCls = "icon-add",
        actionBar1.handler = function () {
            ShowEditOrViewDialog('add');
        }
        actionBar2.iconCls = "icon-edit",
        actionBar2.handler = function () {
            ShowEditOrViewDialog('edit');
        }
        actionBar3.iconCls = "icon-remove",
        actionBar3.handler = function () {
            DeleteSelectRow();
        }
        actionBar4.iconCls = "icon-reload",
        actionBar4.handler = function () {
            ReloadGrid();
        }
        toolbar.push(actionBar1);
        toolbar.push(actionBar2);
        toolbar.push(actionBar3);
        toolbar.push(actionBar4);
        InitGrid(toolbar);
    }

    function InitGrid(toolbar) {
        var queryData = {
            ServName: $.trim($("#SerName").textbox("getValue"))
        };
        $('#Servgrid').datagrid({   //定位到Table标签，Table标签的ID是grid
            url: '/Service/GetAppServList',   //指向后台的Action来获取当前菜单的信息的Json格式的数据
            title: '服务列表',
            fit: true,
            fitColumns: true,
            nowrap: true,
            autoRowHeight: false,
            striped: true,
            collapsible: true,
            rownumbers: true,
            sortOrder: 'asc',
            remoteSort: false,
            singleSelect: true,  //选中行唯一
            pagination: true,
            pageSize: 15,
            pageList: [15, 30, 45, 60],
            method: 'post',
            idField: 'ID',
            queryParams: queryData,  //异步查询的参数
            columns: [[
                          { title: "ID", field: "ID", width: 95, hidden: true },
                          { title: "门店", field: "HospName", width: 95, sortable: true },
                          { title: "名称", field: "ServName", width: 95, sortable: true },
                          { title: "类型", field: "ServTypeName", width: 95, sortable: true },
                          { title: "价格", field: "price", width: 95, sortable: true },
                          { title: "描述", field: "ServMemo", width: 95, sortable: true },
                          {
                              title: "状态", field: "state", width: 95, sortable: true, formatter: function (value) {
                                  if (value == 0) return "启用";
                                  else if (value == 1) return "禁用";
                              }
                          },
                          {
                              title: "是否删除", field: "IsDel", width: 95, sortable: true, formatter: function (value) {
                                  if (value == 0) return "未删除";
                                  else if (value == 1) return "已删除";
                              }
                          }

            ]],
            toolbar: toolbar
        })
    };

    //显示新增编辑页面
    function ShowEditOrViewDialog(action) {

        var title = "新增数据";

        var Id = 0;
        if (action == "edit") {
            title = "编辑数据";
            var selectedRows = $("#Servgrid").datagrid("getSelected");
            if (!selectedRows) {
                $.messager.alert("提示", "请选择需要编辑的数据");
                return;
            }
            Id = selectedRows.ID;
        }
        var href = "/Service/Dialog" + "?Id=" + Id;

        $("#Servdialog").dialog({
            title: title,
            width: 550,
            height: 300,
            closed: false,
            cache: false,
            href: href,
            modal: true,
            buttons: [{
                text: '&nbsp;保存&nbsp;',
                handler: function () {
                    SaveServ();
                }
            }, {
                text: '&nbsp;关闭&nbsp;',
                handler: function () {
                    $("#Servdialog").dialog("close");
                }
            }]
        });
    }

    //删除选中行
    function DeleteSelectRow() {
        var selectedRow = $("#Servgrid").datagrid("getSelected");
        if (!selectedRow) {
            $.messager.alert("提示", "请选择需要删除的数据");
            return;
        }

        //确定要删除选中
        $.messager.confirm("删除提示", "确定要删除所选择的数据么", function (data) {
            if (data) {
                var id = selectedRow.ID;
                var csUrl = "/Service/DeleteServ";
                $.ajax({
                    url: csUrl,
                    data: { Id: id },
                    dataType: "json",
                    success: function (returnData) {
                        //failed
                        if (returnData.result == "error") {
                            $.messager.alert("提示", "删除失败 " + returnData.message);
                            return;
                        }
                        //success
                        $.messager.alert("提示", "数据删除成功");
                        ReloadGrid();
                    },
                    error: function (returnData) {
                        $.messager.alert("提示", "删除失败 ");
                    }
                });
            }
        });

    }

    function SaveServ() {
        //保存按钮
        $("#dialogForm").form("submit", {
            url: "/Service/SaveServ",
            success: function (data) {
                //form 提交返回的是字符串，需要转换成json
                var returnData = $.parseJSON(data)
                if (returnData && returnData.result == 'ok') {
                    $.messager.alert("提示", returnData.message);
                    $("#Servdialog").dialog("close");
                    ReloadGrid();
                }
                else {
                    $.messager.alert("提示", returnData.message);
                }
            }
        });
    }
</script>

