@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BBD.Models.tb_Sys_UserInfo
<script src="~/Scripts/Easyui/easyui-validate-extend.js"></script>
<script src="~/Scripts/PortalCommon.js"></script>
<form id="changeForm" method="post">
    <input type="hidden" name="userId" value="@Model.Uid" />
    <table style="width: 100%; text-align: center">
        <tr>
            <td>
                <label for="localpwd">
                    原密码:
                </label>
            </td>
            <td>
                <input id="localpwd" class="easyui-textbox" name="localpwd" type="password" data-options="required:true,missingMessage:'密码不能为空',validType:'length[6,50]'" />
            </td>
        </tr>

        <tr>
            <td>
                <label for="password1">
                    密码:
                </label>
            </td>
            <td>
                <input id="changepwd" class="easyui-textbox" name="password" type="password" data-options="required:true,missingMessage:'密码不能为空',validType:['PwdRepeat','length[6,50]']" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="name">
                    重复密码:
                </label>
            </td>
            <td>
                <input id="changepwd1" class="easyui-textbox" type="password" name="Name" data-options="required:true,missingMessage:'重复密码不能为空',validType:'length[6,50]'" />
            </td>
        </tr>
    </table>
</form>
