
@{
    ViewBag.Title = "店员分配门店";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section queryform{
    <div style="padding:8px">
        <span>设置门店查询权限：选择门店，设置该门店拥有哪些店员的查询权限。</span>
    </div>
}
<div class="easyui-panel" style="height:100%;padding:1px" data-options="border:false">
    <div class="easyui-layout" data-options="fit:true">
        <div class="easyui-panel" data-options="region:'west'" style="width:50%;padding:3px" title="门店">
            <div style="height:30px">
                <label for="HospHname">
                    门店名称:
                </label>
                <input class="easyui-combobox" type="text" id="HospHname" name="HospHname" style="width: 115px" />
                <label for="HospTel">
                    门店电话:
                </label>
                <input class="easyui-textbox" type="text" id="HospTel" name="HospTel" style="width: 115px" />
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="HospQuery">查询</a>
            </div>
                <div style="height:510px">
                    <table id="HosGrid"></table>
                </div>
            </div>
        <div class="easyui-panel" data-options="region:'east'" style="width:49%;padding:3px" title="店员">
            <div style="height:30px">
                <label for="LoginName">
                    姓名:
                </label>
                <input class="easyui-textbox" type="text" id="LoginName" name="LoginName" style="width: 115px" />
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="EmpQuery">查询</a>
            </div>
            <div style="height:540px;overflow:hidden">
                <table id="EmpGrid"></table>
            </div>
        </div>
    </div>
</div>
<div id="Hospdialog"></div>
<div id="dialog"></div>
<script type="text/javascript">
    // 设置角色所拥有的的权限
    $(document).ready(function () {

        //初始化HosGrid
        InitHosToolbar();
        //初始化EmpQuery
        InitEmpToolbar();
        InitCombobox();

        $("#HospQuery").click(function () {
            $("#HosGrid").datagrid("load", {
                Hname: $.trim($("#HospHname").textbox("getValue")),
                tel: $("#HospTel").textbox("getValue")
            });
        });
        $("#EmpQuery").click(function () {
            var selectedRows = $("#HosGrid").datagrid("getSelected");
            if (!selectedRows) {
                $.messager.alert("提示", "请选择需要编辑的门店");
                return;
            }
            Id = selectedRows.HospId;
            $("#EmpGrid").datagrid("load", {
                name: $.trim($("#LoginName").textbox("getValue")),
                hospId: Id
            });
        });
    });
    function ReloadGridHosp() {
        var queryData = {
            name: $.trim($("#LoginName").textbox("getValue"))
        };
        $("#HosGrid").datagrid("load", queryData);
    }

    function InitHosToolbar() {
        var toolbar = [];
        var actionBar1 = {
            id: "RT06020101",
            text: "新增"
        };
        var actionBar2 = {
            id: "RT06020102",
            text: "编辑"
        };
        actionBar1.iconCls = "icon-add",
        actionBar1.handler = function () {
            ShowEditOrViewDialog('add');
        }
        actionBar2.iconCls = "icon-edit",
        actionBar2.handler = function () {
            ShowEditOrViewDialog('edit');
        }
        toolbar.push(actionBar1);
        toolbar.push(actionBar2);
        InitHosGrid(toolbar);
    }

    function InitHosGrid(toolbar) {
        var queryData = {
            Hname: $.trim($("#HospHname").textbox("getValue")),
            tel: $("#HospTel").textbox("getValue")
        };
        $('#HosGrid').datagrid({             //定位到Table标签，Table标签的ID是grid
            url: '/Hosp/GetAppHospListForEmp',   //指向后台的Action来获取当前菜单的信息的Json格式的数据
            fit: true,
            fitColumns: true,
            nowrap: true,
            autoRowHeight: false,
            striped: true,
            collapsible: true,
            pagination: true,
            pageSize: 15,
            pageList: [15, 30, 45, 60],
            rownumbers: true,
            sortOrder: 'asc',
            remoteSort: false,
            singleSelect: true,  //选中行唯一
            method: 'post',
            idField: 'HospId',
            queryParams: queryData,  //异步查询的参数
            columns: [[
                          { title: "HospId", field: "HospId", width: 175, hidden: true },
                          { title: "店名", field: "Hname", width: 175, sortable: true },
                          { title: "地址", field: "address", width: 175, sortable: true },
                          { title: "联系电话", field: "tel", width: 95, sortable: true },
                          { title: "门店类别", field: "sTypeName", width: 95, sortable: true },
                          { title: "等级", field: "grade", width: 95, sortable: true },
                          { title: "所属城市", field: "CityName", width: 95, sortable: true },
                          {
                              title: "状态", field: "IsDel", width: 95, sortable: true, formatter: function (value) {
                                  if (value == 0) return "正常";
                                  else return "已删除";
                              }
                          }
            ]],
            toolbar: toolbar,
            onSelect: function (index, row) {
                ReloadGrid();
            }
        })
    }

    //显示新增编辑页面
    function ShowEditOrViewDialog(action) {
        var title = "新增门店";
        var Id = 0;
        if (action == "edit") {
            title = "编辑门店";
            var selectedRows = $("#HosGrid").datagrid("getSelected");
            if (!selectedRows) {
                $.messager.alert("提示", "请选择需要编辑的门店");
                return;
            }
            Id = selectedRows.HospId;
        }
        var href = "/Hosp/Dialog" + "?Id=" + Id;

        $("#Hospdialog").dialog({
            title: title,
            width: 850,
            height: 450,
            closed: false,
            cache: false,
            href: href,
            modal: true,
            buttons: [{
                text: '&nbsp;保存&nbsp;',
                handler: function () {
                    SaveHosp();
                }
            }, {
                text: '&nbsp;关闭&nbsp;',
                handler: function () {
                    $("#Hospdialog").dialog("close");
                }
            }]
        });
    }

    function SaveHosp() {
        //保存按钮
        $("#dialogForm").form("submit", {
            url: "/Hosp/SaveHosp",
            success: function (data) {
                //form 提交返回的是字符串，需要转换成json
                var returnData = $.parseJSON(data)
                if (returnData && returnData.result == 'ok') {
                    $.messager.alert("提示", returnData.message);
                    $("#Hospdialog").dialog("close");
                    ReloadGridHosp();
                }
                else {
                    $.messager.alert("提示", returnData.message);
                }
            }
        });
    }

    function InitCombobox() {
        $('#HospHname').combobox({
            prompt: '输入关键字后自动搜索',
            required: false,
            mode: 'remote',
            url: '/Hosp/QueryHospKeyWord',
            editable: true,
            valueField: 'value',
            textField: 'text',
            hasDownArrow: false,
            onBeforeLoad: function (param) {
                if (param == null || param.q == null || param.q == "" || param.q.replace(/ /g, '') == '') {
                    var value = $(this).combobox('getValue');
                    if (value) {// 修改的时候才会出现q为空而value不为空
                        param.id = value;
                        return true;
                    }
                    return false;
                }
            },
            onSelect: function (record) {
                debugger
                ReloadGridHosp();
            }
        });
    }




    //店员
    function InitEmpToolbar() {
        var toolbar = [];
        var actionBar1 = {
            id: "RT06020101",
            text: "新增"
        };
        actionBar1.iconCls = "icon-add",
        actionBar1.handler = function () {
            ShowEditOrViewDialog_Emp('add');
        }
        toolbar.push(actionBar1);
        InitEmpGrid(toolbar);
    }

    function InitEmpGrid(toolbar) {
        var queryData = {
            name: $("#LoginName").val(),
            hospId:0
        };
        $('#EmpGrid').datagrid({   //定位到Table标签，Table标签的ID是grid
            url: '/EmpHos/GetAppUserList',   //指向后台的Action来获取当前菜单的信息的Json格式的数据
            title: '店员列表',
            fit: true,
            fitColumns: true,
            nowrap: true,
            autoRowHeight: false,
            striped: true,
            collapsible: true,
            rownumbers: true,
            sortOrder: 'asc',
            remoteSort: false,
            singleSelect: true,  //选中行唯一
            pagination: true,
            pageSize: 15,
            pageList: [15, 30, 45, 60],
            method: 'post',
            idField: 'Uid',
            queryParams: queryData,  //异步查询的参数
            columns: [[
                          { title: "Uid", field: "Uid", width: 95, hidden: true },
                          { title: "用户名", field: "uLoginName", width: 95 },
                          { title: "真实姓名", field: "uName", width: 95 },
                          { title: "手机", field: "uMobile", width: 95, formatter: subMobile },
                          { title: "城市", field: "CityName", width: 95 },
                          { title: "职位", field: "uPost", width: 95 },
                          { title: "所在部门", field: "uDepName", width: 95 }

            ]],
            toolbar: toolbar
        })
    };

    function subMobile(val) {
        if (val != null && val != "") {
            val = val.substring(0, 3) + "********";
            return val;
        } else {
            return "";
        }
    }

    function ReloadGrid() {
        var selectRow = $("#HosGrid").datagrid("getSelected");
        if (!selectRow) {
            $.messager.alert("提示", "请先选择门店");
            return;
        }
        var queryData = {
            name: $.trim($("#LoginName").textbox("getValue")),
            hospId: selectRow.HospId
        };
        $("#EmpGrid").datagrid("load", queryData);
    }

    //显示新增编辑页面
    function ShowEditOrViewDialog_Emp(action) {
        var title = "分配店员";
        var href = "/EmpHos/Dialog";
        var userId = 0;
        var selectRow = $("#HosGrid").datagrid("getSelected");
        if (!selectRow) {
            $.messager.alert("提示", "请先选择门店");
            return;
        }

        href = href + "?Id=" + selectRow.HospId;
        $("#dialog").dialog({
            title: title,
            width: 550,
            height: 330,
            closed: false,
            cache: false,
            href: href,
            modal: true,
            buttons: [{
                text: '&nbsp;保存&nbsp;',
                handler: function () {
                    SaveEmp();
                }
            }, {
                text: '&nbsp;取消&nbsp;',
                handler: function () {
                    $("#dialog").dialog("close");
                }
            }]
        });
    }

    function SaveEmp() {
        //保存按钮
        var selectRows = $("#grid").datagrid("getSelections");
        var selectRow = $("#HosGrid").datagrid("getSelected");
        var ids = [];
        if (selectRows.length == 0) {//删除所有关联的店员

        } else {
            for (var i = 0; i < selectRows.length; i++) {
                ids.push(selectRows[i].Uid);
            }
        }
            $.post("/EmpHos/SaveEmp", { hospid: selectRow.HospId, ids: ids.toString() }, function (returnData) {
            if (returnData && returnData.result == 'ok') {
                $.messager.alert("提示", returnData.message);
                $("#dialog").dialog("close");
                ReloadGrid();
            }
            else {
                $.messager.alert("提示", returnData.message);
            }
        })
    }

  </script>