
@{
    ViewBag.Title = "用户信息表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section queryform
{
    <form id="appUserForm">
        <label for="UserName">
            姓名:
        </label>
        <input class="easyui-textbox" type="text" id="UserName" name="UserName" style="width: 115px" />
        <label for="UserMobile">
            手机号:
        </label>
        <input class="easyui-textbox" type="text" id="UserMobile" name="UserMobile" style="width: 115px" />
        <label for="FemaleTree">
            性别:
        </label>
        <select id="FemaleTree" class="easyui-combobox" name="FemaleTree" style="width:200px;">
            <option value="">请选择</option>
            <option value="男">男</option>
            <option value="女">女</option>
        </select>
        <label for="ComeFromTree">
            来源:
        </label>
        <input id="ComeFromTree" class="easyui-combobox" name="ComeFromTree" style="width:200px;" />
        <label for="HospTree">
            所属门店:
        </label>
        <input id="HospTree" class="easyui-combobox" name="HospTree" style="width:200px;" />
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="query">查询</a>
    </form>
}

<div style="padding-left:2px;padding-right:2px;height:100%;">
    <table id="Usersgrid"></table>
</div>
<div id="Usersdialog"></div>
<script type="text/javascript">
    /* 系统用户管理Javascript文件 */
    $(document).ready(function () {
        //加载Grid
        InitToolbar();
        InitComeFromComb();
        InitHospComb();
        $("#query").click(function () {
            ReloadGrid();
        })
    });

    // 查询
    function ReloadGrid() {
        var queryData = {
            Name: $.trim($("#UserName").textbox("getValue")),
            Mobile: $.trim($("#UserMobile").textbox("getValue")),
            Female: $("#FemaleTree").combobox("getValue"),
            ComeFrom: $("#ComeFromTree").combobox("getValue"),
            HospId: $("#HospTree").combobox("getValue")
        };
        $("#Usersgrid").datagrid("load", queryData);
    }
    //根据权限设置装载grid
    function InitToolbar() {
        var toolbar = [];
        var actionBar1 = {
            id: "RT06010201",
            text: "新增"
        };
        var actionBar2 = {
            id: "RT06010202",
            text: "编辑"
        };
        var actionBar3 = {
            id: "RT06010203",
            text: "删除"
        };
        var actionBar4 = {
            id: "RT06010204",
            text: "刷新"
        };
        var actionBar5 = {
            id: "RT06010205",
            text: "邀请"
        };


        actionBar1.iconCls = "icon-add",
        actionBar1.handler = function () {
            ShowEditOrViewDialog('add');
        }
        actionBar2.iconCls = "icon-edit",
        actionBar2.handler = function () {
            ShowEditOrViewDialog('edit');
        }
        actionBar3.iconCls = "icon-remove",
        actionBar3.handler = function () {
            DeleteSelectRow();
        }
        actionBar4.iconCls = "icon-reload",
        actionBar4.handler = function () {
            ReloadGrid();
        }
        actionBar5.iconCls = "icon-add",
        actionBar5.handler = function () {
            ShowEnterDialog();
        }
        toolbar.push(actionBar1);
        toolbar.push(actionBar2);
        toolbar.push(actionBar3);
        //toolbar.push(actionBar5);
        toolbar.push(actionBar4);
        InitGrid(toolbar);
    }

    function InitGrid(toolbar) {
        var queryData = {
            uid: window.parent.$("#g_uid").val(),
            Name: $.trim($("#UserName").textbox("getValue")),
            Mobile: $.trim($("#UserMobile").textbox("getValue")),
            Female: $("#FemaleTree").combobox("getValue"),
            ComeFrom: $("#ComeFromTree").combobox("getValue"),
            HospId: $("#HospTree").combobox("getValue")
        };
        $('#Usersgrid').datagrid({   //定位到Table标签，Table标签的ID是grid
            url: '/Customer/GetAppUserList',   //指向后台的Action来获取当前菜单的信息的Json格式的数据
            title: '升高与标准体重信息',
            fit: true,
            fitColumns: true,
            nowrap: true,
            autoRowHeight: false,
            striped: true,
            collapsible: true,
            rownumbers: true,
            sortOrder: 'asc',
            remoteSort: false,
            singleSelect: true,  //选中行唯一
            pagination: true,
            pageSize: 15,
            pageList: [15, 30, 45, 60],
            method: 'post',
            idField: 'uId',
            queryParams: queryData,  //异步查询的参数
            columns: [[
                          { title: "uId", field: "uId", width: 95, hidden: true },
                          { title: "门店", field: "HospName", width: 95, sortable: true },
                          { title: "姓名", field: "Name", width: 35, sortable: true },
                          { title: "出生日期", field: "Birth", width: 95, sortable: true, formatter: DataYMDFormat },
                          { title: "手机号码", field: "Mobile", width: 95, sortable: true },
                          { title: "性别", field: "Female", width: 35, sortable: true },
                          { title: "来源", field: "ComeFromName", width: 95, sortable: true },
                          { title: "本人推荐码", field: "Self_code", width: 95, sortable: true },
                          { title: "入会推荐人", field: "EnterName", width: 95, sortable: true },
                          { title: "客户减重期望", field: "Myhope", width: 95, sortable: true },
                          { title: "所在城市", field: "CityName", width: 95, sortable: true },
                          {
                              title: "状态", field: "isDel", width: 95, sortable: true, formatter: function (value) {
                                  if (value == 0) return "正常";
                                  else return "已删除";
                              }
                          }

            ]],
            toolbar: toolbar,
            onClickRow: function (index,rowData) {
                window.parent.$("#g_uid").val(rowData.uId);
            },
            onLoadSuccess: function (row, data) {
                if (data != null && data.total > 0) {
                    window.parent.$("#g_uid").val("0");
                } else {
                    window.parent.$("#g_uid").val("0");
                }
            }
        })
    };

    function DataYMDFormat(val) {
        if (val != null && val != "") {
            var date = new Date(parseInt(val.replace("/Date(", "").replace(")/", ""), 10));
            //月份为0-11，所以+1，月份小于10时补个0
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "年" + month + "月" + currentDate + "日";
        }
        else {
            return "";
        }
    }
    //显示新增编辑页面
    function ShowEditOrViewDialog(action) {
        var title = "新增数据";
        var Id = 0;
        if (action == "edit") {
            title = "编辑数据";
            var selectedRows = $("#Usersgrid").datagrid("getSelected");
            if (!selectedRows) {
                $.messager.alert("提示", "请选择需要编辑的数据");
                return;
            }
            Id = selectedRows.uId;
        }
        var href = "/Customer/Dialog" + "?Id=" + Id;

        $("#Usersdialog").dialog({
            title: title,
            width: 850,
            height: 400,
            closed: false,
            cache: false,
            href: href,
            modal: true,
            buttons: [{
                text: '&nbsp;保存&nbsp;',
                handler: function () {
                    SaveUser();
                }
            }, {
                text: '&nbsp;关闭&nbsp;',
                handler: function () {
                    $("#Usersdialog").dialog("close");
                }
            }]
        });
    }

    //邀请
    function ShowEnterDialog() {
        var Id = 0;
        var selectedRows = $("#Usersgrid").datagrid("getSelected");
        if (!selectedRows) {
            $.messager.alert("提示", "请选择需要邀请的客户");
            return;
        }
        Id = selectedRows.uId;
        var href = "/Customer/EnterDialog" + "?Id=" + Id;
        $("#Usersdialog").dialog({
            title: title,
            width: 550,
            height: 300,
            closed: false,
            cache: false,
            href: href,
            modal: true,
            buttons: [{
                text: '&nbsp;保存&nbsp;',
                handler: function () {
                    EnterUser();
                }
            }, {
                text: '&nbsp;关闭&nbsp;',
                handler: function () {
                    $("#Usersdialog").dialog("close");
                }
            }]
        });
    }

    //删除选中行
    function DeleteSelectRow() {
        var selectedRow = $("#Usersgrid").datagrid("getSelected");
        if (!selectedRow) {
            $.messager.alert("提示", "请选择需要删除的数据");
            return;
        }

        //确定要删除选中
        $.messager.confirm("删除提示", "确定要删除所选择的数据么", function (data) {
            if (data) {
                var id = selectedRow.uId;
                var csUrl = "/Customer/DeleteUser";
                $.ajax({
                    url: csUrl,
                    data: { Id: id },
                    dataType: "json",
                    success: function (returnData) {
                        //failed
                        if (returnData.result == "error") {
                            $.messager.alert("提示", "删除失败 " + returnData.message);
                            return;
                        }
                        //success
                        $.messager.alert("提示", "数据删除成功");
                        ReloadGrid();
                    },
                    error: function (returnData) {
                        $.messager.alert("提示", "删除失败 ");
                    }
                });
            }
        });

    }

    //邀请码按钮
    //function EnterUser() {
    //    var selectedRow = $("#Usersgrid").datagrid("getSelected");
    //    if (!selectedRow) {
    //        $.messager.alert("提示", "请选择需要邀请的用户");
    //        return;
    //    }
    //    var id = selectedRow.uId;
    //    var enterUrl = "/Customer/EnterUser";
    //    $.ajax({
    //        url: enterUrl,
    //        data: { Id: id },
    //        dataType: "json",
    //        success: function (returnData) {
    //            //failed
    //            if (returnData.result == "error") {
    //                $.messager.alert("提示", "邀请失败 " + returnData.message);
    //                return;
    //            }
    //            //success
    //            $.messager.alert("提示", "用户邀请成功");
    //            ReloadGrid();
    //        },
    //        error: function (returnData) {
    //            $.messager.alert("提示", "邀请失败 ");
    //        }
    //    });
    //}

    function SaveUser() {
        //保存按钮
        $("#dialogForm").form("submit", {
            url: "/Customer/SaveUser",
            success: function (data) {
                //form 提交返回的是字符串，需要转换成json
                var returnData = $.parseJSON(data)
                if (returnData && returnData.result == 'ok') {
                    $.messager.alert("提示", returnData.message);
                    $("#Usersdialog").dialog("close");
                    ReloadGrid();
                }
                else {
                    $.messager.alert("提示", returnData.message);
                }
            }
        });
    }

    function InitComeFromComb() {
        var timeUrl = "/Customer/GetAppComeFromTree";
        $("#ComeFromTree").combobox({
            url: timeUrl,
            valueField: 'value',
            textField: 'text',
            editable: false,
            onSelect: function (rec) {
                
            },
            onLoadSuccess: function () {
                var data = $('#ComeFromTree').combobox('getData');
                if (data.length > 0) {
                    $('#ComeFromTree').combobox('select', data[0].id);
                }
            }
        });
    }

    function InitHospComb() {
        var timeUrl = "/Customer/GetAppHospTree";
        $("#HospTree").combobox({
            url: timeUrl,
            valueField: 'value',
            textField: 'text',
            editable: false,
            onSelect: function (rec) {
                
            },
            onLoadSuccess: function () {
                var data = $('#HospTree').combobox('getData');
                if (data.length > 0) {
                    $('#HospTree').combobox('select', data[0].id);
                }
            }
        });
    }

</script>
