@{
    ViewBag.Title = "客户中心";
}
<script src="~/Scripts/center_JLayout.js"></script>
<script src="~/Scripts/center_JTabs.js"></script>
<input type="hidden" name="g_uid" id="g_uid" />
<div id="ctabs_center">
</div>

<div id="center_ctabsMenu" style="width: 120px; display: none;">
    <div data-options="iconCls:'icon-copy'">
        复制标题
    </div>
    <div data-options="iconCls:'icon-tabRefresh'">
        刷新Tab页
    </div>
</div>