@{
    ViewBag.Title = "配置产品列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section queryform
{
    <form id="appPOFForm">
        <label for="Height">
            服务名称:
        </label>
        <input class="easyui-textbox" type="text" id="ServName" name="ServName" style="width: 115px" />
        <label for="HospTree">
            门店:
        </label>
        <input  type="text" id="HospTree" name="HospTree" style="width: 115px" />
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="query">查询</a>
    </form>
}

<div style="padding-left:2px;padding-right:2px;height:100%;">
    <table id="Pofgrid"></table>
</div>
<div id="Pofdialog"></div>
<script type="text/javascript">
    /* 系统用户管理Javascript文件 */
    $(document).ready(function () {
        InitHospComb();
        //加载Grid
        InitToolbar();
        $("#query").click(function () {
            ReloadGrid();
        })
    });
    // 查询
    function ReloadGrid() {
        var queryData = {
            ServName: $.trim($("#ServName").textbox("getValue")),
            HospId: $("#HospTree").combobox("getValue")
        };
        $("#Pofgrid").datagrid("load", queryData);
    }
    //根据权限设置装载grid
    function InitToolbar() {
        var toolbar = [];
        var actionBar1 = {
            id: "RT06010201",
            text: "新增"
        };
        var actionBar2 = {
            id: "RT06010202",
            text: "编辑"
        };
        var actionBar3 = {
            id: "RT06010203",
            text: "删除"
        };
        var actionBar4 = {
            id: "RT06010204",
            text: "刷新"
        };
        actionBar1.iconCls = "icon-add",
        actionBar1.handler = function () {
            ShowEditOrViewDialog('add');
        }
        actionBar2.iconCls = "icon-edit",
        actionBar2.handler = function () {
            ShowEditOrViewDialog('edit');
        }
        actionBar3.iconCls = "icon-remove",
        actionBar3.handler = function () {
            DeleteSelectRow();
        }
        actionBar4.iconCls = "icon-reload",
        actionBar4.handler = function () {
            ReloadGrid();
        }
        toolbar.push(actionBar1);
        toolbar.push(actionBar2);
        toolbar.push(actionBar3);
        toolbar.push(actionBar4);
        InitGrid(toolbar);
    }

    function InitGrid(toolbar) {
        var queryData = {
            ServName: $.trim($("#ServName").textbox("getValue")),
            HospId: $("#HospTree").combobox("getValue")
        };
        $('#Pofgrid').datagrid({   //定位到Table标签，Table标签的ID是grid
            url: '/ServPOF/GetAppServPOFList',   //指向后台的Action来获取当前菜单的信息的Json格式的数据
            title: '配置产品列表',
            fit: true,
            fitColumns: true,
            nowrap: true,
            autoRowHeight: false,
            striped: true,
            collapsible: true,
            rownumbers: true,
            sortOrder: 'asc',
            remoteSort: false,
            singleSelect: true,  //选中行唯一
            pagination: true,
            pageSize: 15,
            pageList: [15, 30, 45, 60],
            method: 'post',
            idField: 'Id',
            queryParams: queryData,  //异步查询的参数
            columns: [[
                          { title: "Id", field: "Id", width: 175, hidden: true },
                          { title: "门店名称", field: "Hname", width: 175, sortable: true },
                          { title: "服务名称", field: "ServName", width: 175, sortable: true },
                          { title: "服务价格", field: "price", width: 175, sortable: true },
                          {
                              title: "种类", field: "TouchFlag", width: 95, sortable: true, formatter: function (value) {
                                  if (value == 0) return "仪器";
                                  else return "点穴";
                              }
                          },
                          { title: "次数", field: "Times", width: 95, sortable: true }

            ]],
            toolbar: toolbar
        })
    };

    //显示新增编辑页面
    function ShowEditOrViewDialog(action) {

        var title = "新增数据";

        var Id = 0;
        if (action == "edit") {
            title = "编辑数据";
            var selectedRows = $("#Pofgrid").datagrid("getSelected");
            if (!selectedRows) {
                $.messager.alert("提示", "请选择需要编辑的数据");
                return;
            }
            Id = selectedRows.Id;
        }
        var href = "/ServPOF/Dialog" + "?Id=" + Id;

        $("#Pofdialog").dialog({
            title: title,
            width: 550,
            height: 300,
            closed: false,
            cache: false,
            href: href,
            modal: true,
            buttons: [{
                text: '&nbsp;保存&nbsp;',
                handler: function () {
                    SavePOF();
                }
            }, {
                text: '&nbsp;关闭&nbsp;',
                handler: function () {
                    $("#Pofdialog").dialog("close");
                }
            }]
        });
    }

    //删除选中行
    function DeleteSelectRow() {
        var selectedRow = $("#Pofgrid").datagrid("getSelected");
        if (!selectedRow) {
            $.messager.alert("提示", "请选择需要删除的数据");
            return;
        }

        //确定要删除选中
        $.messager.confirm("删除提示", "确定要删除所选择的数据么", function (data) {
            if (data) {
                var id = selectedRow.Id;
                var csUrl = "/ServPOF/DeleteServPOF";
                $.ajax({
                    url: csUrl,
                    data: { Id: id },
                    dataType: "json",
                    success: function (returnData) {
                        //failed
                        if (returnData.result == "error") {
                            $.messager.alert("提示", "删除失败 " + returnData.message);
                            return;
                        }
                        //success
                        $.messager.alert("提示", "数据删除成功");
                        ReloadGrid();
                    },
                    error: function (returnData) {
                        $.messager.alert("提示", "删除失败 ");
                    }
                });
            }
        });

    }

    function SavePOF() {
        //保存按钮
        $("#dialogForm").form("submit", {
            url: "/ServPOF/SaveServPOF",
            success: function (data) {
                //form 提交返回的是字符串，需要转换成json
                var returnData = $.parseJSON(data)
                if (returnData && returnData.result == 'ok') {
                    $.messager.alert("提示", returnData.message);
                    $("#Pofdialog").dialog("close");
                    ReloadGrid();
                }
                else {
                    $.messager.alert("提示", returnData.message);
                }
            }
        });
    }

    function InitHospComb() {
        var timeUrl = "/ServPOF/GetAppHospTree";
        $("#HospTree").combobox({
            url: timeUrl,
            valueField: 'value',
            textField: 'text',
            editable: false,
            onSelect: function (rec) {

            },
            onLoadSuccess: function () {
                var data = $('#HospTree').combobox('getData');
                if (data.length > 0) {
                    $('#HospTree').combobox('select', data[0].id);
                }
            }
        });
    }
</script>

